<!-- 
    Real Time Yoga Pose Classification
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icon.png">
    <link rel="stylesheet" href="../static/css/video.css">
    <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>

    <!-- Loading Screen -->
    <link rel="stylesheet" href="../static/css/screen_loader.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <title>PosePal</title>

</head>

<body onload="loadmodel()">

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <br>
    <div class="header-container-flex">
        <a class="home-img" href="../index.html">
            <i class="fas fa-home fa-2x"></i> 
        </a>
        <a href="../index.html" style="text-decoration: none;">
        <h2 class="text-center heading"  >
            <i class="fa-solid far fa-heart" style="color: #83494b; font-weight: bolder;"> </i> <span style="color: #9c748c; font-weight: bold; ">Pose</span><span style="color: #6f4d61; font-weight: bold;">Pal</span>
        </h2>
        </a>
    </div>
    <br><br>
<!-- class="col-12 col-lg-6 col-xl-6 col-sm-12 col-md-12"
 class="col-12 col-lg-6 col-xl-6 col-sm-12 col-md-12" -->

    <div class="row justify-content-around">
        <div class="col-12 col-lg-6 col-xl-6 col-sm-12 col-md-12" >
            <h4 class="text-center">Camera on, negativity off</h4>
            <br>
            <div class="collapse" id="collapseExample">

                <div class="p-4 flex-parent jc-center">
                    <section id="demos" class="invisible">

                        <div id="liveView" class="camView">
                            <!-- <button id="webcamButton">Enable Webcam</button> -->
                            <video id="webcam" autoplay width="640" height="380"></video>
                        </div>
                    </section>
                </div>
            </div>
            <div class="flex-parent jc-center">
                <br>
                <button id="webcamButton" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color: #83494b; border-color: #83494b;">
                    ENABLE CAM
                </button>

                <br>
                <a href="./webcam.html">
                <button id="webcamButton2" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color: #83494b; border-color: #83494b; margin-left: 30px;">
                    DISABLE CAM
                </button>
                </a>
            </div>
            <br>
            <div class="flex-parent jc-center">

                <h4>Predicted Pose:
                    <span id="prediction">
                    
                </span> </h4>

                <br>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 col-sm-12 col-md-12">
            <div class="flex-parent jc-center">
                <h3>Follow these <span class="timer">steps</span></h3>
                <br>
            </div>
            <div class="flex-parent jc-center">
                <img id="gif" width="70%" height="70%" style="margin-top: 40px; resize: both;">
            </div>
            <br>
        </div>
    </div>

    <!-- <div>
        <button class="btn btn-primary" onclick=startTimer()>Start</button>
        <button class="btn btn-primary" onclick=stopTimer()>stop</button>
        <button class="btn btn-primary" onclick=resetTimer()>reset</button>
    </div> -->
<!-- class=" col-sm-12 col-md-12 col-lg-6 col-xl-6 jc-center" -->
    
<div class="container">
    <div class="row jc-center">
        <div class="col-12 jc-center">
            <div class="adv-disadv">
                <div class="cautions-and-benefits">
                    <div class="section cautions">
                        <h4 class="subheading text-center"><b>Cautions</b></h4>
                        <div class="dis-adv" id="disAdv">Exercise caution when performing this pose, relevant warnings will appear here.</div>
                    </div>
                    <div class="section benefits" >
                        <h4 class="subheading text-center" id="benefitstext"><b>Benefits</b></h4>
                        <div class="adv" id="adv">Uncover the advantages of practicing this pose.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <br><br>


    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js" type="text/javascript"></script>
    <script src="../static/js/video_classification.js"></script>
    <script src="../static/js/webcam_classification.js"></script>

</body>

</html>